{% extends 'base.html' %}

{% block title %} Adopt a Pet {% endblock %}


{% block content %}
<section>
  {% for pet in pets %}
    <a href="/{{ pet.id }}">
      <div class="pet-info">
        {% if pet.photo_url %}
        <img src="{{pet.photo_url}}" alt="{{pet.name}}">
        {% endif %}
        <p>{{pet.name}}
          {% if pet.available %}
          <b>is available!</b>
          {% endif %}
        </p>
      </div>
    </a>
  {% endfor %}
</section>

<a class="btn btn-primary" href="/add">Add a Pet</a>

<section>
  <h1>PetFinder Pet</h1>

  <div class="pet-finder-pet">
    <img src="{{pet_url}}" alt="{{pet_name}}">
    <p>{{pet_name}}</p>
    <p>{{pet_age}}</p>
  </div>

</section>

{% endblock %}